spring:
  application:
    name: portafolio-backend

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


server:
  port: ${PORT:8080}

google:
  oauth:
    clientId: ${GOOGLE_CLIENT_ID}


app:
  jwt:
    secret: ${APP_JWT_SECRET}
    expirationMinutes: 120
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS}