spring:
  application:
    name: portafolio-backend

  datasource:
    url: jdbc:postgresql://NEON_HOST:5432/NEON_DB
    username: NEON_USER
    password: NEON_PASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ""   # aquí va tu correo real si activarás emails
    password: ""   # contraseña o app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

app:
  jwt:
    secret: "PON_AQUI_UNA_CLAVE_LARGA_Y_SECRETA"
    expirationMinutes: 120
  cors:
    allowed-origins: "https://TU_PROYECTO.firebaseapp.com,https://TU_PROYECTO.web.app"